@font-face {
    font-family: 'breathe_fireregular';
    src: url('/public/fonts/webfontkit-20221209-075028/breathefire-65pg-webfont.woff2'),
         url('/public/fonts/webfontkit-20221209-075028/breathefire-65pg-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

.card{
    border: 5px double #000000;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    width: fit-content;
    text-align: center;
    padding : 4%;
    margin-top: 10%;
    background-color: #c0ba96;
    opacity: 0.8;
}
.sheet{
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 10%;
    padding-top: 2%;
    border: 5px double #000000;
    background-color: #d2cca5;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto;
    padding: auto;
}

.grid-container-sheet{
    display:grid;
    grid-template-columns: auto 25%;
    opacity: 0.75;
}
.grid-Column{
    display:grid;
    grid-template-rows: auto auto;
    
    
}
.grid-column-row{
    margin-top: 4%;
    padding-left: 7%;
    margin-right: 5%;
    display: grid;
    align-items:center;
    grid-template-columns: 40% 20%;
    
}
.basic-info{
    margin-left: 8%;
    padding-right: 7%;
    padding-left: 7%;
}
.tracker{
    margin-left: 30%;
}
.card-title{
    margin-top: 0%;
    margin-bottom: 3%;
    font-family: breathe_fireregular;
    font: size 90px;
    opacity: 1;
    
}